@mixin borders($left-top: #fff, $right-bottom: #7b7b7b) {
  border-width: 4px;
  border-style: solid;
  border-right-color: $right-bottom;
  border-bottom-color: $right-bottom;
  border-left-color: $left-top;
  border-top-color: $left-top;
}
