@mixin borders($left-top: #fff, $right-bottom: #7b7b7b) {
  border-width: 4px;
  border-style: solid;
  border-right-color: $right-bottom;
  border-bottom-color: $right-bottom;
  border-left-color: $left-top;
  border-top-color: $left-top;
}

.green {
  background-color: "green";
}

@mixin buttons {
  &:active {
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
  }
}
